# Data-X Spring 2019: Homework 06 

## Name : Pooja Rao
## SID : 3034312272
## Course (IEOR 135/290) :

### Machine Learning



In this homework, you will do some exercises with prediction. We will cover these algorithms in class, but this is for you to have some hands on with these in scikit-learn. You can refer - https://github.com/ikhlaqsidhu/data-x/blob/master/05a-tools-predicition-titanic/titanic.ipynb

Display all your outputs.

In [1]:
import numpy as np
import pandas as pd

In [2]:
 # machine learning libraries
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import Perceptron
from sklearn.tree import DecisionTreeClassifier



__ 1. Read __`diabetesdata.csv`__ file into a pandas dataframe. 
About the data: __

1. __TimesPregnant__: Number of times pregnant 
2. __glucoseLevel__: Plasma glucose concentration a 2 hours in an oral glucose tolerance test 
3. __BP__: Diastolic blood pressure (mm Hg)  
5. __insulin__: 2-Hour serum insulin (mu U/ml) 
6. __BMI__: Body mass index (weight in kg/(height in m)^2) 
7. __pedigree__: Diabetes pedigree function 
8. __Age__: Age (years) 
9. __IsDiabetic__: 0 if not diabetic or 1 if diabetic)

In [3]:
#Read data & print the head
data = pd.read_csv('diabetesdata.csv')
data.head()

   TimesPregnant  glucoseLevel  BP  insulin   BMI  Pedigree   Age  IsDiabetic
0              6         148.0  72        0  33.6     0.627  50.0           1
1              1           NaN  66        0  26.6     0.351  31.0           0
2              8         183.0  64        0  23.3     0.672   NaN           1
3              1           NaN  66       94  28.1     0.167  21.0           0
4              0         137.0  40      168  43.1     2.288  33.0           1

**2. Calculate the percentage of Null values in each column and display it. **

In [4]:
print('Percentage of Null Values in each coloumn')
data.isnull().sum() * 100 / len(data)

Percentage of Null Values in each coloumn

TimesPregnant    0.000000
glucoseLevel     4.427083
BP               0.000000
insulin          0.000000
BMI              0.000000
Pedigree         0.000000
Age              4.296875
IsDiabetic       0.000000
dtype: float64

**3. Split __`data`__  into  __`train_df`__ and __`test_df`__  with 15% as test.**

In [5]:
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(data, test_size=0.15, random_state=100)
print('Number of samples in training data:', len(train_df))
print('Number of samples in test data:', len(test_df))

Number of samples in training data: 652
Number of samples in test data: 116

**4. Display the means of the features in train and test sets. Replace the null values in  __`train_df`__ and __`test_df`__  with the mean of EACH feature column separately for train and test. Display head of the dataframes.**

In [6]:
trainmean = train_df.mean()
trainmean

TimesPregnant      3.797546
glucoseLevel     120.691318
BP                68.828221
insulin           78.743865
BMI               31.810890
Pedigree           0.469097
Age               33.375602
IsDiabetic         0.348160
dtype: float64

In [7]:
testmean = test_df.mean()
testmean

TimesPregnant      4.112069
glucoseLevel     122.821429
BP                70.663793
insulin           85.732759
BMI               33.013793
Pedigree           0.487500
Age               33.232143
IsDiabetic         0.353448
dtype: float64

In [8]:
train_df = train_df.fillna(trainmean)
train_df.head()

,TimesPregnant,glucoseLevel,BP,insulin,BMI,Pedigree,Age,IsDiabetic
458,10,148.0,84,237,37.6,1.001,51.0,1
635,13,104.0,72,0,31.2,0.465,38.0,1
457,5,86.0,68,71,30.2,0.364,24.0,0
674,8,91.0,82,0,35.6,0.587,68.0,0
277,0,104.0,64,116,27.8,0.454,23.0,0

In [9]:
test_df = test_df.fillna(testmean)
test_df.head()

,TimesPregnant,glucoseLevel,BP,insulin,BMI,Pedigree,Age,IsDiabetic
173,1,79.000000,60,48,43.5,0.678,23.0,0
253,0,86.000000,68,0,35.8,0.238,25.0,0
207,5,162.000000,104,0,37.7,0.151,52.0,1
737,8,122.821429,72,0,32.0,0.600,42.0,0
191,9,123.000000,70,94,33.1,0.374,40.0,0

**5. Split __`train_df`__ & __`test_df`__   into  __`X_train`__, __`Y_train`__  and __`X_test`__, __`Y_test`__. __`Y_train`__  and __`Y_test`__ should only have the column we are trying to predict,  __`IsDiabetic`__.**

In [10]:
X_train = train_df.iloc[:, :7]
X_train

     TimesPregnant  glucoseLevel  BP  insulin   BMI  Pedigree        Age
458             10    148.000000  84      237  37.6     1.001  51.000000
635             13    104.000000  72        0  31.2     0.465  38.000000
457              5     86.000000  68       71  30.2     0.364  24.000000
674              8     91.000000  82        0  35.6     0.587  68.000000
277              0    104.000000  64      116  27.8     0.454  23.000000
12              10    139.000000  80        0  27.1     1.441  57.000000
117              5     78.000000  48        0  33.7     0.654  25.000000
184              4    141.000000  74        0  27.6     0.244  40.000000
509              8    120.000000  78        0  25.0     0.409  64.000000
149              2     90.000000  70        0  27.3     0.085  22.000000
118              4     97.000000  60        0  28.2     0.443  22.000000
400              4     95.000000  64        0  32.0     0.161  31.000000
108              3     83.000000  58       18  34.3     0.336  25.000000
279              2    108.000000  62      278  25.3     0.881  22.000000
392              1    131.000000  64      415  23.7     0.389  21.000000
469              6    154.000000  78      140  46.1     0.571  27.000000
412              1    143.000000  84      310  42.4     1.076  22.000000
25              10    125.000000  70      115  31.1     0.205  41.000000
505             10     75.000000  82        0  33.3     0.263  38.000000
54               7    150.000000  66      342  34.7     0.718  42.000000
276              7    106.000000  60        0  26.5     0.296  29.000000
265              5     96.000000  74       67  33.6     0.997  43.000000
81               2     74.000000   0        0   0.0     0.102  22.000000
201              1    138.000000  82        0  40.1     0.236  28.000000
56               7    187.000000  68      304  37.7     0.254  41.000000
22               7    196.000000  90        0  39.8     0.451  41.000000
157              1    109.000000  56      135  25.2     0.833  23.000000
586              8    143.000000  66        0  34.9     0.129  41.000000
757              0    123.000000  72        0  36.3     0.258  52.000000
677              0     93.000000  60        0  35.3     0.263  25.000000
..             ...           ...  ..      ...   ...       ...        ...
317              3    182.000000  74        0  30.5     0.345  29.000000
705              6     80.000000  80        0  39.8     0.177  28.000000
431              3     89.000000  74       85  30.4     0.551  38.000000
49               7    105.000000   0        0   0.0     0.305  24.000000
135              2    125.000000  60      140  33.8     0.088  31.000000
603              7    150.000000  78      126  35.2     0.692  54.000000
4                0    137.000000  40      168  43.1     2.288  33.000000
612              7    168.000000  88      321  38.2     0.787  40.000000
723              5    120.691318  86      105  39.1     0.251  42.000000
141              5    106.000000  82        0  39.5     0.286  38.000000
415              3    173.000000  84      474  35.7     0.258  22.000000
667             10    111.000000  70        0  27.5     0.141  40.000000
386              5    116.000000  74        0  32.3     0.660  35.000000
86              13    120.691318  72        0  36.6     0.178  45.000000
93               4    120.691318  72        0  23.8     0.277  60.000000
649              0    107.000000  60        0  26.4     0.133  33.375602
507              1    130.000000  60      170  28.6     0.692  21.000000
570              3     78.000000  70        0  32.5     0.270  39.000000
316              3     99.000000  80       64  19.3     0.284  30.000000
228              4    197.000000  70      744  36.7     2.329  31.000000
655              2    155.000000  52      540  38.7     0.240  33.375602
280              0    146.000000  70        0  37.9     0.334  28.000000
752              3    108.000000  62        0  26.0     0.223  25.000000
526              1     97.000000  64       82  18.2     0.299  21.000000
738              2     99.000000  60      160  36.6     0.453  33.375602
578             10    133.000000  68        0  27.0     0.245  36.000000
53               8    176.000000  90      300  33.7     0.467  58.000000
350              4     92.000000  80        0  42.2     0.237  29.000000
79               2    120.691318  66        0  25.0     0.307  24.000000
520              2     68.000000  70       66  25.0     0.187  25.000000

[652 rows x 7 columns]

In [11]:
Y_train = train_df.iloc[:,7:8]
Y_train

     IsDiabetic
458           1
635           1
457           0
674           0
277           0
12            0
117           0
184           0
509           0
149           0
118           0
400           1
108           0
279           0
392           0
469           0
412           0
25            1
505           0
54            0
276           1
265           0
81            0
201           0
56            1
22            1
157           0
586           1
757           1
677           0
..          ...
317           1
705           0
431           0
49            0
135           0
603           1
4             1
612           1
723           0
141           0
415           1
667           1
386           1
86            0
93            1
649           0
507           0
570           0
316           0
228           0
655           1
280           1
752           0
526           0
738           0
578           0
53            1
350           0
79            0
520           0

[652 rows x 1 columns]

In [12]:
X_test = test_df.iloc[:, :7]
X_test

     TimesPregnant  glucoseLevel   BP  insulin   BMI  Pedigree        Age
173              1     79.000000   60       48  43.5     0.678  23.000000
253              0     86.000000   68        0  35.8     0.238  25.000000
207              5    162.000000  104        0  37.7     0.151  52.000000
737              8    122.821429   72        0  32.0     0.600  42.000000
191              9    123.000000   70       94  33.1     0.374  40.000000
754              8    154.000000   78        0  32.4     0.443  45.000000
159             17    163.000000   72      114  40.9     0.817  47.000000
448              0    104.000000   64       64  33.6     0.510  22.000000
359              1    196.000000   76      249  36.5     0.875  29.000000
651              1    117.000000   60      106  33.8     0.466  27.000000
543              4     84.000000   90       56  39.5     0.159  25.000000
175              8    179.000000   72      130  32.7     0.719  36.000000
657              1    120.000000   80      200  38.9     1.162  41.000000
613              6    105.000000   80        0  32.5     0.878  33.232143
40               3    180.000000   64       70  34.0     0.271  26.000000
358             12     88.000000   74       54  35.3     0.378  48.000000
156              2     99.000000   52       94  24.6     0.637  21.000000
19               1    115.000000   70       96  34.6     0.529  32.000000
213              0    140.000000   65      130  42.6     0.431  24.000000
559             11     85.000000   74        0  30.1     0.300  35.000000
73               4    129.000000   86      270  35.1     0.231  23.000000
97               1    122.821429   48       76  20.4     0.323  22.000000
388              5    144.000000   82      285  32.0     0.452  58.000000
546              5    187.000000   76      207  43.6     1.034  53.000000
354              3     90.000000   78        0  42.7     0.559  21.000000
72              13    126.000000   90        0  43.4     0.583  42.000000
486              1    139.000000   62      480  40.7     0.536  21.000000
711              5    122.821429   78       22  29.6     0.439  40.000000
125              1     88.000000   30       99  55.0     0.496  26.000000
666              4    145.000000   82        0  32.5     0.235  70.000000
..             ...           ...  ...      ...   ...       ...        ...
555              7    124.000000   70      215  25.5     0.161  37.000000
244              2    146.000000   76      194  38.2     0.329  29.000000
153              1    153.000000   82      485  40.6     0.687  23.000000
269              2    146.000000    0        0  27.5     0.240  28.000000
574              1    143.000000   86      330  30.1     0.892  23.000000
600              1    108.000000   88        0  27.1     0.400  24.000000
517              7    125.000000   86        0  37.6     0.304  51.000000
481              0    123.000000   88        0  35.2     0.197  29.000000
706             10    115.000000    0        0   0.0     0.261  30.000000
516              9    145.000000   88      165  30.3     0.771  53.000000
290              0     78.000000   88       40  36.9     0.434  21.000000
345              8    126.000000   88      108  38.5     0.349  49.000000
133              8     84.000000   74        0  38.3     0.457  39.000000
687              1    107.000000   50        0  28.3     0.181  29.000000
427              1    181.000000   64      180  34.1     0.328  38.000000
311              0    106.000000   70      148  39.4     0.605  22.000000
622              6    183.000000   94        0  40.8     1.461  45.000000
198              4    109.000000   64       99  34.8     0.905  26.000000
341              1     95.000000   74       73  25.9     0.673  36.000000
395              2    127.000000   58      275  27.7     1.600  25.000000
114              7    160.000000   54      175  30.5     0.588  39.000000
428              0    135.000000   94      145  40.6     0.284  26.000000
490              2     83.000000   65       66  36.8     0.629  24.000000
703              2    129.000000    0        0  38.5     0.304  41.000000
449              0    120.000000   74       63  30.5     0.285  26.000000
553              1     88.000000   62       44  29.9     0.422  23.000000
171              6    134.000000   70      130  35.4     0.542  29.000000
413              1    143.000000   74       61  26.2     0.256  21.000000
161              7    102.000000   74      105  37.2     0.204  45.000000
106              1     96.000000  122        0  22.4     0.207  27.000000

[116 rows x 7 columns]

In [13]:
Y_test = test_df.iloc[:,7:8]
Y_test

     IsDiabetic
173           0
253           0
207           1
737           0
191           0
754           1
159           1
448           1
359           1
651           0
543           0
175           1
657           0
613           0
40            0
358           0
156           0
19            1
213           1
559           0
73            0
97            0
388           1
546           1
354           0
72            1
486           0
711           0
125           1
666           1
..          ...
555           0
244           0
153           0
269           1
574           0
600           0
517           0
481           0
706           1
516           1
290           0
345           0
133           0
687           0
427           1
311           0
622           0
198           1
341           0
395           0
114           1
428           0
490           0
703           0
449           0
553           0
171           1
413           0
161           0
106           0

[116 rows x 1 columns]

**6. Use this dataset to train perceptron, logistic regression and random forest models using 15% test split. Report training and test accuracies. Try different hyperparameter values for these models and see if you can improve your accuracies.**

In [14]:
# 6a. Logistic Regression
print('Hyperparameters: C=1.0, Class weight = balanced')
logreg = LogisticRegression(C=1.0, class_weight='balanced')
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
logreg_acc_test = logreg.score(X_test, Y_test)
logreg_acc_train = logreg.score(X_train, Y_train)
print('Training accuracy: ', logreg_acc_train*100, '%')
print('Test accuracy: ', logreg_acc_test*100, '%')

Hyperparameters: C=1.0, Class weight = balanced
Training accuracy:  75.920245398773 %
Test accuracy:  75.0 %

C:\Users\Pooja\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Pooja\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
print('Hyperparameters: C=10, Class weight = None')
logreg = LogisticRegression(C=10, class_weight=None)
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
logreg_acc_test = logreg.score(X_test, Y_test)
logreg_acc_train = logreg.score(X_train, Y_train)
print('Training accuracy: ', logreg_acc_train*100, '%')
print('Test accuracy: ', logreg_acc_test*100, '%')

Hyperparameters: C=10, Class weight = None
Training accuracy:  78.22085889570552 %
Test accuracy:  75.86206896551724 %

C:\Users\Pooja\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Pooja\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [16]:
# 6b. Perceptron
perceptron = Perceptron() 
perceptron.fit(X_train, Y_train)
perceptron_acc_test = perceptron.score(X_test, Y_test)
perceptron_acc_train = perceptron.score(X_train, Y_train)
print('Training accuracy: ', perceptron_acc_train*100, '%')
print('Test accuracy: ', perceptron_acc_test*100, '%')

Training accuracy:

C:\Users\Pooja\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in Perceptron in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)
C:\Users\Pooja\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

 41.56441717791411 %
Test accuracy:  45.689655172413794 %

In [17]:
# 6c. Random Forest
random_forest = RandomForestClassifier(n_estimators=500, min_samples_split=10)   
random_forest.fit(X_train, Y_train)
acc_rf_test = random_forest.score(X_test, Y_test)   
acc_rf_train = random_forest.score(X_train, Y_train)   
print('Training accuracy: ', acc_rf_train*100, '%')
print('Test accuracy: ', acc_rf_test*100, '%')

C:\Users\Pooja\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

Training accuracy:  95.39877300613497 %
Test accuracy:  72.41379310344827 %

In [18]:
# 6c. Random Forest
random_forest = RandomForestClassifier(n_estimators=400, min_samples_split=2)   
random_forest.fit(X_train, Y_train)
acc_rf_test = random_forest.score(X_test, Y_test)   
acc_rf_train = random_forest.score(X_train, Y_train)   
print('Training accuracy: ', acc_rf_train*100, '%')
print('Test accuracy: ', acc_rf_test*100, '%')

C:\Users\Pooja\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

Training accuracy:  100.0 %
Test accuracy:  71.55172413793103 %

**7. For your logistic regression model - **

**a . Compute the log probability of classes in  __`IsDiabetic`__ for the first 10 samples of your train set and display it. Also display the predicted class for those samples from your logistic regression model trained before. **

In [19]:
train_10 = X_train.iloc[:10,:]
print('log probability')
logreg.predict_log_proba(train_10)

log probability

array([[-1.95062159, -0.15336759],
       [-0.5323748 , -0.88481341],
       [-0.09469226, -2.40409554],
       [-0.48788317, -0.95172257],
       [-0.08996778, -2.45295037],
       [-1.62218211, -0.21998272],
       [-0.17048901, -1.85311816],
       [-0.43885435, -1.035003  ],
       [-0.45521488, -1.00597382],
       [-0.0470464 , -3.08005182]])

In [20]:
print('Classes:')
logreg.predict(train_10)

Classes:

array([1, 0, 0, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

**b . Now compute the log probability of classes in  __`IsDiabetic`__ for the first 10 samples of your test set and display it. Also display the predicted class for those samples from your logistic regression model trained before.
 (using the model trained on the training set)**

In [21]:
test_10 = X_test.iloc[:10,:]
print('log probability')
logreg.predict_log_proba(test_10)

log probability

array([[-0.20662849, -1.67836873],
       [-0.08252587, -2.5356226 ],
       [-1.19761615, -0.35941164],
       [-0.69882552, -0.6875009 ],
       [-0.64662767, -0.74193679],
       [-1.27099697, -0.32927072],
       [-3.3962469 , -0.0340727 ],
       [-0.15341619, -1.95032844],
       [-2.06389464, -0.13577224],
       [-0.27203975, -1.43474531]])

In [22]:
print('Classes:')
logreg.predict(test_10)

Classes:

array([0, 0, 1, 1, 0, 1, 1, 0, 1, 0], dtype=int64)

**c . What can you interpret from the log probabilities and the predicted classes?**

Log probabilities represents the logarithmic values of the probabilities of all classes, in this case 0 and 1. It has two columns for classes 0 and 1. It shows a the values of both classes 0 and 1 for each sample. 0 corresponds to 'No' or in this case 'The person is not diabetic' and 1 corresponds to 'Yes' which in this translates to 'The person is diabetic'. Predicted classes give actual predicted class and not a log value of probabilities of both classes. If the value of probability of one class is more than the other, that class is assigned to the corresponding sample. For example, in the first sample of the training data, if we take the antilog of class 0, the value is 0.21. The antilog value for class 1 is 0.78. Thus the class for that sample becomes 1.

**8. Is mean imputation is the best type of imputation (as we did in 4.) to use? Why or why not? What are some other ways to impute the data?**

Mean Imputation is probabily not the best way to perform imputations to fill missing values. Using mean to fill the values changes its relationship with other values since mean is not the best representation of the values in a dataset. The error keeps on increasing with more number of missing values. Median or mode can be used for imputations.

## Extra Credit (2 pts) - MANDATORY for students enrolled in IEOR 290


**9.  Implement the K-Nearest Neighbours (https://en.wikipedia.org/wiki/K-nearest_neighbors_algorithm) algorithm for k=1 from scratch in python (do not use KNN from existing libraries). KNN uses Euclidean distance to find nearest neighbors. Split your dataset into test and train as before. Also fill in the null values with mean of features as done earlier. Use this algorithm to predict values for 'IsDiabetic' for your test set. Display your accuracy. **

In [23]:
X_test.head()

     TimesPregnant  glucoseLevel   BP  insulin   BMI  Pedigree   Age
173              1     79.000000   60       48  43.5     0.678  23.0
253              0     86.000000   68        0  35.8     0.238  25.0
207              5    162.000000  104        0  37.7     0.151  52.0
737              8    122.821429   72        0  32.0     0.600  42.0
191              9    123.000000   70       94  33.1     0.374  40.0

In [24]:
X_train.head()

     TimesPregnant  glucoseLevel  BP  insulin   BMI  Pedigree   Age
458             10         148.0  84      237  37.6     1.001  51.0
635             13         104.0  72        0  31.2     0.465  38.0
457              5          86.0  68       71  30.2     0.364  24.0
674              8          91.0  82        0  35.6     0.587  68.0
277              0         104.0  64      116  27.8     0.454  23.0

In [25]:
Y_test.head()

     IsDiabetic
173           0
253           0
207           1
737           0
191           0

In [26]:
Y_train.head()

     IsDiabetic
458           1
635           1
457           0
674           0
277           0

In [27]:
import math
def euclideanDistance(instance1, instance2, length):
        distance = 0
        for x in range(length):
            distance += pow((instance1[x] - instance2[x]), 2)
        return math.sqrt(distance)

In [28]:
def getNeighbors(trainingSet, testInstance, k):
        distances = []
        length = len(testInstance)-1
        for x in range(len(trainingSet)):
            dist = euclideanDistance(testInstance, trainingSet[x], length)
            distances.append((trainingSet[x], dist))
        distances.sort(key=operator.itemgetter(1))
        neighbors = []
        for x in range(k):
            neighbors.append(distances[x][0])
        return neighbors

In [29]:
import operator
def getResponse(neighbors):
        classVotes = {}
        for x in range(len(neighbors)):
            response = neighbors[x][-1]
            if response in classVotes:
                classVotes[response] += 1
            else:
                classVotes[response] = 1
        sortedVotes = sorted(classVotes.iteritems(), key=operator.itemgetter(1), reverse=True)
        return sortedVotes[0][0]

In [30]:
def getAccuracy(testSet, predictions):
        correct = 0
        for x in range(len(testSet)):
            if testSet[x][-1] == predictions[x]:
                correct += 1
        return (correct/float(len(testSet))) * 100.0

In [39]:
predictions = []

In [41]:
k = 1

In [44]:
def main():
        # prepare data
        trainingSet=X_train
        testSet=X_test
        print('Train set: ' + repr(len(trainingSet)))
        print('Test set: ' + repr(len(testSet))
        # generate predictions
        for x in range(len(testSet)):
            neighbors = getNeighbors(trainingSet, testSet[x], k)
            result = getResponse(neighbors)
            predictions.append(result)
            print('> predicted=' + repr(result) + ', actual=' + repr(testSet[x][-1]))
#accuracy = getAccuracy(testSet, predictions)
#print('Accuracy: ' + repr(accuracy) + '%')
        
main()

SyntaxError: invalid syntax (<ipython-input-44-732040fd5728>, line 8)